################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MyProject/FileContentIndex/85988a2f-7188-4b1a-a554-317d442ab5a9.vsidx
